html, body, #root {
  height: 100%;
}

// Layout
.ant-layout {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.ant-layout-content {
  padding: 0 60px;
}

// Header
.ant-layout-header {
  z-index: 1;
  font-weight: 600;
  display: flex;
  align-items: center;
}

// Menu
.ant-layout-header .ant-menu {
  background-color: transparent;
}

// Card
.ant-card {
  box-shadow: 0 1px 2px -2px rgb(248 66 66 / 16%), 0 3px 6px 0 rgb(248 66 66 / 12%), 0 5px 12px 4px rgb(248 66 66 / 9%);
}

// Footer
.ant-layout-footer {
  color: #ffffff;
}

// Games
.ant-btn.play-btn {
  color: #ffffff;
  background-color: @green;
  border-color: @green;
  &:hover {
    background-color: rgba(@green, 0.8);
  }
}

.ant-btn.add-player-btn, .ant-btn.add-question-btn {
  color: #ffffff;
  background-color: @yellow;
  border-color: @yellow;
  &:hover {
    background-color: rgba(@yellow, 0.8);
  }
}

.questions-section, .players-section{
  padding: 12px;
  border: 1px dashed @border-color-base;
}

.tags{
  margin-bottom: 16px;
 }

  // Game
.ant-btn.start-btn {
  color: #ffffff;
  background-color: @green;
  border-color: @green;
  &:hover {
    background-color: rgba(@green, 0.8);
  }
}

h2.ant-typography.score {
  color: @green;
  font-weight: 700;
}

// Logo
.logo {
  width: 60px;
  height: 60px;
  background: url("../images/logo.png") center center no-repeat;
  background-size: contain;
}
