html,
body,
#root {
  height: 100%;
}

// Layout
.ant-layout {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.ant-layout-content {
  padding: 40px;
}

// Header
.ant-layout-header {
  z-index: 1;
  font-weight: 600;
  display: flex;
  align-items: center;
}

// Menu
.ant-layout-header .ant-menu {
  background-color: transparent;
}

// Card
.ant-card {
  box-shadow: 0 1px 2px -2px rgb(248 66 66 / 16%), 0 3px 6px 0 rgb(248 66 66 / 12%), 0 5px 12px 4px rgb(248 66 66 / 9%);

  .ant-card-head-title {
    text-transform: uppercase;
  }
}

// Alert
.ant-alert {
  margin-bottom: 16px;
}

.ant-alert-error {
  background-color: rgba(@error, 0.75);
  border: 1px solid rgba(@error, 0.75);
  .ant-alert-message,
  .ant-alert-icon {
    color: #fff;
  }
}

// Footer
.ant-layout-footer {
  color: #ffffff;
}

// Games
.games-heading {
  h3.ant-typography {
    line-height: 64px;
  }
}

.games-items {
  .ant-list-item {
    margin-bottom: 36px !important;
  }
}

.back-reset-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-winner {
  visibility: hidden;
}

.ant-ribbon {
  background-color: #fe0080;
  .ant-ribbon-corner {
    color:  #fe0080;
  }
}

.questions-section,
.players-section {
  padding: 12px;
  margin-bottom: 24px;
  border: 1px dashed @border-color-base;
}

.questions-section {
  margin-right: 16px;

  .ant-tag-question {
    filter: blur(4px);
    display: inline-block;
  }
}

.tags {
  margin-bottom: 16px;
  span.ant-tag {
    margin: 6px;
  }
}

.tags,
.ant-modal-content {
  span.ant-tag {
    margin: 6px;
  }
}

// Game
.question-seconds {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
  h2.ant-typography.seconds {
    font-size: 128px;
    color: @green;
    font-weight: 700;
  }
  h2.ant-typography.seconds.orange {
    color: @orange;
  }
  h1.ant-typography,
  h2.ant-typography {
    margin: 0;
  }
}

.player-items {
  .current {
    .ant-card-head-title {
      color: @green;
    }
  }
  .winner {
    .ant-card-head-title {
      color: @green;
    }
  }
  .score {
    font-size: 96px;
  }
  .ant-card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 24vh;
  }
  .ant-spin-container > div {
    justify-content: space-around;
  }
}

.game {
  .ant-modal-title h4.ant-typography {
    margin: 0;
  }
}

// Logo
.logo {
  width: 60px;
  height: 60px;
  background: url('../images/logo.png') center center no-repeat;
  background-size: contain;
}
