// antd colors
@box-shadow-base: 0px 0px 6px 6px rgba(250, 223, 209, 0.75);

// (Through webpack config thsese border colors are not working)
// Border color 
@border-color-base: #fcb3b3; // base border outline a component
@border-color-split: #fcb3b3; // split border inside a component

// Custome colors
@orange: #E36A24; 
@yellow: #FACB1B;
@green: #75C225;
@blue: #5000FF;

@light-green: #49a3b6;
@error: #ee1911;

@aqua: #b3fcfc;
@violet: #b3b3fc;
@purple: #fcb3d8;